/* Font*/
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*Asterisk wildcard selector to override default styles added by the browser*/
* { padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

/* Headings*/
.heading {
  text-decoration: underline;
  font-size: 2rem;
  color: orangered;
}
.sub-heading {
  color: orangered;
  margin: 1px;
}

/* Rules section*/
.rules {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.rules p {
  line-height: 1rem;
}
/* Game layout*/
.game-area {
  box-sizing: border-box;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}